<div *ngIf='tableDataSource'>
    
    <mat-table #table [dataSource]='tableDataSource' 
        *ngIf='tableDataSource.data && tableDataSource.data.length > 0'>

        <ng-container *ngFor='let column of tableData.columnHeaders; let $i = index;' [matColumnDef]='column'>
            <mat-header-cell *matHeaderCellDef> {{ column }} </mat-header-cell>
            <mat-cell *matCellDef='let row'>{{ row[$i] }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableData.columnHeaders"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableData.columnHeaders"></mat-row>
    </mat-table>

    <mat-paginator #paginator
        [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" >
    </mat-paginator>
</div>