<div class="table-header">
    <div class="nav-back" (click)='back()'>
        <mat-icon>navigate_before</mat-icon>
    </div>
    <h3>
        Add new notification to timer job
    </h3>
</div>

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                General information about notification.
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
            <div class="label"> Notification name - </div>
            <mat-form-field>
                <input matInput [(ngModel)]="notificationName">
            </mat-form-field>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Notification view
            </mat-panel-title>
            <mat-panel-description>
                Setup notification html
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <div class="html-block">
                <mat-form-field>
                    <mat-label>Enter html view</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10" [(ngModel)]="htmlTemplate">
                    </textarea>
                </mat-form-field>
            </div>

            <div class="preview-block">
                <div class="preview-content" [innerHTML]='htmlTemplate'>

                </div>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Setup conditions when the notification should be sent
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
            <div class="label"> Enter criteria field name - </div>
            <mat-form-field>
                <input matInput [(ngModel)]="fieldName">
            </mat-form-field>
        </div>

        <div>
            <div class="label"> Enter criteria value - </div>
            <mat-form-field>
                <input matInput [(ngModel)]="fieldValue">
            </mat-form-field>
        </div>

    </mat-expansion-panel>

</mat-accordion>

<div class="submit-row">
    <div class="error-message" *ngIf='showTemplateRequiredMessage !== showRequiredMessage.None'>
        <span *ngIf="showTemplateRequiredMessage === showRequiredMessage.HtmlTemplate">
            The html template field is required to create notification.
        </span>
        <span *ngIf="showTemplateRequiredMessage === showRequiredMessage.FieldName">
            The criteria field name is required to create notification.
        </span>
        <span *ngIf="showTemplateRequiredMessage === showRequiredMessage.FieldValue">
            The criteria field value is required to create notification.
        </span>
    </div>
    <button mat-stroked-button color="primary" (click)='saveNotification()'> Save settings </button>
</div>