
.table-header {
    margin-bottom: 2rem !important;
}

mat-expansion-panel {
    margin-top: 1rem;
}

.html-block {
    width: 50%;
    padding: 20px;
    display: inline-block;
    mat-form-field {
        width: 100%;
    }
}

.preview-block {
    display: inline-block;
    position: absolute;
    width: 45%;
    
    h2 {
        width:100%;
        text-align: center;
    }

    .preview-content {
        height:200px;
        width: 100%;
        border: 1px solid #ddd;
        padding: .5rem;
    }

}

.label {
    display: inline-block;
    padding: 0 .5rem 0 0;
    width: 30%;
    text-align: right;
}

.submit-row {
    margin-top: 2rem;
    float: right;
    padding: .5rem;
    border: 1px solid #ccc;
    width: 99%;
    text-align: right;

    margin-bottom: 5rem;

    .error-message {
        margin-right: 1rem;
        display: inline-block;
        
        span {
            color: red;
        }
    }
}
