<div class="popup-wrapper">
    <h1 mat-dialog-title>{{ data.dialogHeader }}</h1>

    <div mat-dialog-content class="template" [innerHTML]='data.template'></div>

    <div mat-dialog-actions>
        <div class="btn-wrapper">
            <button mat-button (click)='close()'> Close </button>
        </div>
    </div>

</div>