<div class="table-header">
    <div class="nav-back" (click)='back()'>
        <mat-icon>navigate_before</mat-icon>
    </div>
    <h3>
        Available timer jobs on host - {{ currentConfig.selectedHost.hostName }} 
    </h3>
    <div class="add-block" (click)='openAddDialog()' *ngIf='currentConfig.currentUser'>
        <mat-icon>add</mat-icon>
    </div>
</div>

<div class="none-items" *ngIf='!jobDataSource.data || jobDataSource.data.length == 0'>
    There is no timer jobs registered for this host
</div>

<mat-table #table [dataSource]='jobDataSource' *ngIf='jobDataSource.data && jobDataSource.data.length > 0'>

    <ng-container matColumnDef='jobName'>
        <mat-header-cell *matHeaderCellDef> Job name </mat-header-cell>
        <mat-cell *matCellDef='let job'>{{ job.jobName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='jobPeriod'>
        <mat-header-cell *matHeaderCellDef> Job period </mat-header-cell>
        <mat-cell *matCellDef='let job'>per {{ job.executionPeriod }} seconds</mat-cell>
    </ng-container>

    <ng-container matColumnDef='jobStatus'>
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef='let job'>{{ job.jobStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='jobManagement' *ngIf='currentConfig.currentUser'>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef='let job'>
            
            <a *ngIf='job.jobStatus == jobStatus.Stopped' mat-button color='primary' 
                (click)='runJob(job)'>
                Run job
            </a>

            <span *ngIf='job.jobStatus == jobStatus.StopRequested'>
                Stopping
            </span>

            <a *ngIf='job.jobStatus == jobStatus.Running' mat-button color='primary' 
                (click)='stopJob(job)'>
                Stop job
            </a>

        </mat-cell>
    </ng-container>

    <ng-container matColumnDef='viewData'>
        <mat-header-cell *matHeaderCellDef> Job links </mat-header-cell>
        <mat-cell *matCellDef='let job'>
            <a mat-button color='primary' (click)='goToJobData(job)'>
                View  data
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef='viewData1'>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef='let job'>
            <a mat-button color='primary' (click)='goToJobDetails(job)'>
                Job management
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef='actions' *ngIf='currentConfig.currentUser'>
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef='let job'>
            <a mat-icon-button (click)='deleteJob(job)'>
                <mat-icon>delete</mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>