<div class="table-header">
    <h3>
        Binded params to execution of job - {{ currentConfig.selectedJob.jobName }}
    </h3>
    <div class="add-block" (click)='openAddDialog()' *ngIf='currentConfig.currentUser'>
        <mat-icon>add</mat-icon>
    </div>
</div>

<div class="none-items" *ngIf='!extDataSource.data || extDataSource.data.length == 0'>
    There is no binded params to this job
</div>

<mat-table #table [dataSource]='extDataSource' *ngIf='extDataSource.data && extDataSource.data.length > 0'>

    <ng-container matColumnDef='dataColumnName'>
        <mat-header-cell *matHeaderCellDef> Binded parameter name </mat-header-cell>
        <mat-cell *matCellDef='let extension'>{{ extension.dataColumnName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='value'>
        <mat-header-cell *matHeaderCellDef> Binded value </mat-header-cell>
        <mat-cell *matCellDef='let extension'>{{ extension.value }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='dataCriteriaName'>
        <mat-header-cell *matHeaderCellDef> Criteria name </mat-header-cell>
        <mat-cell *matCellDef='let extension'>{{ extension.dataCriteriaName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='criteriaValue'>
        <mat-header-cell *matHeaderCellDef> Criteria value </mat-header-cell>
        <mat-cell *matCellDef='let extension'>{{ extension.criteriaValue }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='actions' *ngIf='currentConfig.currentUser' >
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef='let extension'>
            <a mat-icon-button (click)='deleteDataExtension(extension)'>
                <mat-icon>delete</mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>