.table-header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.mat-table {
    margin: 0 3rem 0 3rem;
    max-height: 70%;
}

.mat-paginator {
    margin: 0 3rem 8% 3rem;
}

.mat-column-actions {
    text-align: center;
}

.row {
    width: 100%;    
}

.table-header > h3 {
    margin: 0;
    display: inline-block;
    padding-top: .3rem;
}

.nav-back {
    margin-left: 4rem;
    width: 2rem;
    background-color: #444;
    color: white;
    border-radius: 100%;
    float: left;
    padding-top: .3rem;
    text-align: center;
    cursor: pointer;
}

.add-block {
    float: right;
    margin-right: 4rem;
    width: 2rem;
    border-radius: 100%;
    color:white;
    background-color: #444;
    padding-top: .3rem;
    text-align: center;
    cursor: pointer;
}

.none-items {
    text-align: center;
    opacity: .6;
    font-style: italic;
}
