<div class="edit-container">

    <header>
        <h2> Edit your profile data </h2>
        <div class="row">
            <div class="row-cm text-right">
                Current email -
            </div>
            <div class="row-cm">
                {{ currentConfig.currentUser.email }}
            </div>
            <div class="row-cm">
                <button mat-raised-button (click)='switchToEmailEditing()'> Edit email </button>
            </div>
        </div>
        <div class="row">
            <div class="row-cm text-right">
                Password
            </div>
            <div class="row-cm">
            </div>
            <div class="row-cm">
                <button mat-raised-button (click)='switchToPasswordEditing()'>
                    Change password
                </button>
            </div>
        </div>
    </header>

    <article class="right-block preview" *ngIf='currentMode === profileModes.None'>
        {{ previewText }}
    </article>

    <article class="right-block edit-email" *ngIf='currentMode === profileModes.Email'>
        <h3>
            Edit your email
        </h3>

        <div class="input-row">
            <div class="row-cm">
                Enter new email
            </div>
            <mat-form-field>
                <input matInput type="email" cdkFocusInitial [(ngModel)]='newEmail' />
            </mat-form-field>
        </div>

        <div class="error-row" *ngIf='hasError' >
            {{ errorMessage }}
        </div>

        <div class="submit-row">
            <button mat-raised-button color='primary' (click)='saveChanges()'> Save </button>
        </div>
    </article>

    <article class="right-block edit-password" *ngIf='currentMode === profileModes.Password'>
        <h3>
            Change password
        </h3>

        <div class="input-row">
            <div class="row-cm">
                Old password
            </div>
            <mat-form-field>
                <input matInput type="password" cdkFocusInitial 
                    [(ngModel)]='passwordChangeModel.oldPassword' />
            </mat-form-field>
        </div>

        <div class="input-row">
            <div class="row-cm">
                New password
            </div>
            <mat-form-field>
                <input matInput type="password" [(ngModel)]='passwordChangeModel.newPassword' />
            </mat-form-field>
        </div>

        <div class="input-row">
            <div class="row-cm">
                Confirm password
            </div>
            <mat-form-field>
                <input matInput type="password" [(ngModel)]='passwordChangeModel.confirmPassword' />
            </mat-form-field>
        </div>

        <div class="error-row" *ngIf='hasError' >
            {{ errorMessage }}
        </div>

        <div class="submit-row">
            <button mat-raised-button color='primary' (click)='saveChanges()' > Save </button>
        </div>
    </article>

</div>