
header {
    margin-top: 20px;
    width: 65%;
    display: inline-block;
    padding-bottom: 20px;
    height: 100%;
}

.edit-container {
    margin-top: 3%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    position: relative;
    min-height: 15rem;
}

header > h2 {
    padding-bottom: 3%;
    text-align: center;
}

.row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row + .row {
    border-top: 1px solid lightgray;
}

.input-row {
    width: 100%;
}

.input-row + .input-row {
    padding-bottom: 5px;
}

.row-cm {
    width: 30%;
    display: inline-block;
}

.row-cm > button {
    min-width: 150px;
}

.text-right {
    text-align: right;
}

.preview {
    color: gray;
    display: flex !important;
    align-items: center;
}

.right-block {
    width: 32%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid lightgray;
    min-height: 15.5rem;
    padding-left: 15px;
}

.right-block > h3 {
    margin-top: 45px;
}

.edit-password {
    padding-bottom: 15px;
}

.error-row {
    padding-bottom: 10px;
    color: red;
    text-align: center;
}
