<div class="table-header">
    <div class="nav-back" (click)='back()'>
        <mat-icon>navigate_before</mat-icon>
    </div>
    <h3>
        Data retrieved during last job session. Job - {{ currentConfig.selectedJob.jobName }}
    </h3>
</div>

<div class="none-items" *ngIf='!jobDataTable || !jobDataTable.rows || jobDataTable.rows.length == 0'>
    There is no retrieved data by this job.
</div>

<div *ngIf='jobDataTable'>
    <app-read-only-table [table]='jobDataTable'></app-read-only-table>
</div>