<div class="table-header">
    <h3>
        Notification subscriptions to - {{ currentConfig.selectedJob.jobName }}
    </h3>
    <div class="add-block" (click)='addNotification()' *ngIf='currentConfig.currentUser'>
        <mat-icon>add</mat-icon>
    </div>
</div>

<div class="none-items" *ngIf='!tableDataSource.data || tableDataSource.data.length == 0'>
    There is no subscriptions to this job
</div>

<mat-table #table [dataSource]='tableDataSource' *ngIf='tableDataSource.data && tableDataSource.data.length > 0'>

    <ng-container matColumnDef='htmlTemplate'>
        <mat-header-cell *matHeaderCellDef> Notification name </mat-header-cell>
        <mat-cell *matCellDef='let notification'>{{ notification.notificationName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='dataCriteriaName'>
        <mat-header-cell *matHeaderCellDef> Criteria name </mat-header-cell>
        <mat-cell *matCellDef='let notification'>{{ notification.fieldName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='criteriaValue'>
        <mat-header-cell *matHeaderCellDef> Criteria value </mat-header-cell>
        <mat-cell *matCellDef='let notification'>{{ notification.fieldValue }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='actions' *ngIf='currentConfig.currentUser' >
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef='let notification'>
            <a mat-icon-button (click)='previewNotification(notification)'>
                <mat-icon>pageview</mat-icon>
            </a>
            <a mat-icon-button (click)='deleteNotification(notification)'>
                <mat-icon>delete</mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>