<div class="login-wrapper">
    <h1> Sign in to the system </h1>

    <div >
        <p class="label">
            Email
        </p>
        <mat-form-field>
            <input matInput type="email" cdkFocusInitial [(ngModel)]='email' />
        </mat-form-field>

        <p class="label">
            Password
        </p>
        <mat-form-field>
            <input matInput [(ngModel)]='password' type="password" />
        </mat-form-field>

        <p class="label error" *ngIf='!isCredentialsValid' >
            Invalid credentials
        </p>
    </div>

    <div>
        <div class="btn-wrapper">
            <button mat-raised-button (click)="onLogin()">Login</button>
        </div>
    </div>
</div>