.login-wrapper {
    padding: 1rem;
    margin: 5% 30%;
    border: 5px solid black;
}

.login-wrapper > h1 {
    text-align: center;
}

.label {
    display: inline-block;
    padding: 0 .5rem 0 0;
    width: 40%;
    text-align: right;
    font-style: italic;
}

.mat-input-container {
    width: 55%;
}

.btn-wrapper {
    margin: 0 auto;
    text-align: center;
}

.error {
    color: red;
    width: 100%;
    text-align: center;
}

mat-form-field {
    max-width: 40%;
}