.popup-wrapper {
    padding: 1rem 3rem;
}

.popup-wrapper > h1 {
    text-align: center;
}

.label {
    display: inline-block;
    padding: 0 .5rem 0 0;
    width: 40%;
    text-align: right;
}

.mat-input-container {
    width: 55%;
}

.btn-wrapper {
    margin: 0 auto;
}
