<div class="popup-wrapper">
    <h1 mat-dialog-title>{{ data.headerMessage }}</h1>

    <div mat-dialog-content>
        <div *ngFor='let field of data.fields'>
            <p class="label">
                {{ field.name }}
            </p>
            <mat-form-field>
                <input matInput cdkFocusInitial [(ngModel)]='field.value' />
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions>
        <div class="btn-wrapper">
            <button mat-button (click)="onCancelClick()"> Cancel </button>
            <button mat-button [mat-dialog-close]="data.fields">{{ data.submitMessage }}</button>
        </div>
    </div>
</div>