
<header class="header-block">
    Manage selected job - {{ currentConfig.selectedJob.jobName }}
</header>

<div class="navigation">
    
    <div class="nav-block"
        [class.selected]='currentMode === managementModes.JobExtensionData'
        (click)='switchToJobExtensions()'>
        Job extension data
    </div>

    <div class="nav-block"
        [class.selected]='currentMode === managementModes.NotificationSubscription'
        (click)='switchToNotifications()'>
        Notification subscriptions
    </div>

</div>

<div class="content-block">
    <div *ngIf="currentMode === managementModes.JobExtensionData">
        <app-job-data-extension [job]="currentConfig.selectedJob">
        </app-job-data-extension>
    </div>
    <div *ngIf="currentMode === managementModes.NotificationSubscription">
        <app-job-notification [job]='currentConfig.selectedJob'>
        </app-job-notification>
    </div>
</div>
