.header-block {
    padding: 1rem 0;
    margin-top: 3rem;

    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;

    border-left: 5px solid #aaa;
    border-right: 5px solid #aaa;

    font-size: larger;
    font-weight: bolder;

    text-align: center;
}

.navigation {
    padding: 0 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
}

.nav-block {
    font-size: larger;
    display: inline-block;
    min-width: 15%;
    max-width: 30%;
    text-align: center;
    padding: .5rem;
    border: 1px solid #aaa;
    border-top: none;
    color: #aaa;
    background-color: white;
    cursor: pointer;
}

.nav-block.selected {
    color: white;
    background-color: #aaa;
}

.content-block {
    border-top: 5px dashed #eee;
    padding-top: .5rem;
}