<div class="table-header">
    <h3>
        Execution hosts available within system.
    </h3>
    <div class="add-block" (click)='openAddDialog()' *ngIf='currentConfig.currentUser' >
        <mat-icon>add</mat-icon>
    </div>
</div>

<div class="none-items" *ngIf='!hostsDataSource.data || hostsDataSource.data.length == 0'>
    There is no registered hosts. 
</div>

<mat-table #table [dataSource]='hostsDataSource'
    *ngIf='hostsDataSource.data && hostsDataSource.data.length > 0'>

    <ng-container matColumnDef='hostName'>
        <mat-header-cell *matHeaderCellDef> Host name </mat-header-cell>
        <mat-cell *matCellDef='let host'>{{ host.hostName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='hostUrl'>
        <mat-header-cell *matHeaderCellDef> Host url </mat-header-cell>
        <mat-cell *matCellDef='let host'>{{ host.hostUrl }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='actions'>
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef='let host'>
            <a mat-button color='primary' (click)='goToJobs(host)'> Jobs </a>
            <a mat-button color='primary' (click)='goToParams(host)'>
                Host params
            </a>
            <a mat-icon-button (click)='deleteHost(host)' *ngIf='currentConfig.currentUser' >
                <mat-icon>delete</mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>