<div class="popup-wrapper">

    <h1 mat-dialog-title>
        {{ data.headerMessage }}
    </h1>

    <p mat-dialog-content>
        {{ data.bodyMessage }}
    </p>

    <div mat-dialog-actions>
        <div class="btn-wrapper">
            <button mat-button [mat-dialog-close]="false"> Cancel </button>
            <button mat-button [color]='data.color' [mat-dialog-close]="true" cdkFocusInitial> 
                {{ data.buttonMessage }} 
            </button>
        </div>
    </div>

</div>