<div class="app-content">
    <header class="header-block">
        <h1>
            Welcome to Data Monitoring Platform!
        </h1>
        <div *ngIf='currentConfig.currentUser' class="login-block" >
            <span>
                Hello, {{ currentConfig.currentUser.email }}
            </span>
            <mat-icon [matMenuTriggerFor]="appMenu">
                arrow_drop_down
            </mat-icon>
        </div>
        <mat-menu #appMenu="matMenu" xPosition="before" overlapTrigger='false'>
            <button mat-menu-item [routerLink]="['/executionhosts']"> Account hosts </button>
            <button mat-menu-item [routerLink]="['/editprofile']"> Edit profile</button>
            <button mat-menu-item (click)='quit()' >Quit</button>
        </mat-menu>
    </header>

    <router-outlet></router-outlet>

    <div class="footer-wrapper">
        <footer class="app-footer">
            2018 - created by Volodymyr Svirckov
        </footer>   
    </div>
</div>