body {
    margin: 1%;
}

.header-block {
    text-align: center;
    background-color: #666;
}

.login-block {
    float: right;
    margin-right: 10%;
    margin-top: 15px;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.login-block > span {
    display: inline-block;
}

.login-block > mat-icon {
    cursor: pointer;
}

.header-block > h1 {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin: 0;

    display: inline-block;
    padding: 1rem;

    background-color: #666;
    color: white
}

.footer-wrapper {

    padding: 0 1% 1% 1%;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 31;
    background-color: white;

    .app-footer {
        text-align: left;
        padding: .5rem;
        background-color: #666;
        width: 97%;
        color: white;
    }
}