/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.html-block {
    textarea {
        height: 250px;
    }
}
