<div class="table-header">
    <div class="nav-back" (click)='back()'>
        <mat-icon>navigate_before</mat-icon>
    </div>
    <h3>
        Input parameters to timer jobs on {{ currentConfig.selectedHost.hostName }} 
        ( {{ currentConfig.selectedHost.hostUrl }} )
    </h3>
    <div class="add-block" (click)='openAddDialog()' *ngIf='currentConfig.currentUser' >
        <mat-icon>add</mat-icon>
    </div>
</div>

<div class="none-items" *ngIf='!paramsDataSource.data || paramsDataSource.data.length == 0'>
    There is no host parameters defined for the - {{ currentConfig.selectedHost.hostName }}
    ( {{ currentConfig.selectedHost.hostUrl }} )
</div>

<mat-table #table [dataSource]='paramsDataSource' 
    *ngIf='paramsDataSource.data && paramsDataSource.data.length > 0'>

    <ng-container matColumnDef='paramName'>
        <mat-header-cell *matHeaderCellDef> Parameter name </mat-header-cell>
        <mat-cell *matCellDef='let param'>{{ param.parameterName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='paramValue'>
        <mat-header-cell *matHeaderCellDef> Parameter value </mat-header-cell>
        <mat-cell *matCellDef='let param'>{{ param.parameterValue }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='actions' *ngIf='currentConfig.currentUser'>
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef='let param'>
            <a mat-icon-button (click)='deleteHostParam(param)'>
                <mat-icon>delete</mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>